

<p id="notice"><%= notice %></p>

<div class = "panel panel-primary">
	<div class = "panel-heading"> 
		<%= @blog_post.title %> 
	</div> 
	<div class = "panel-body"> 
		<p> by <strong><%= link_to @blog_post.user.username, user_posts_path(id: @blog_post.user.id) %></strong> <span class="posted-at">posted at <%= @blog_post.updated_at.strftime("%A, %B, %e, %Y at %I:%M") %> </span></p> 
		<p> <%= @blog_post.blog_entry %> </p> 
	</div>

	<% if current_user.id == @blog_post.user.id %> 
		<div class="panel-footer">  
			<p><%= link_to "Edit Post", edit_blog_post_path(@blog_post), class: "btn btn-warning" %><%= link_to "Destroy", @blog_post, method: :delete, data: {confirm: "Are you SURE??"}, class: "btn btn-danger" %> </p> 
		</div> 
	<% end %> 

</div> 

<div class = "panel panel-success"> 
	<div class = "panel-heading">
		Make a comment 
	</div>  
	<div class = "panel-body">
		<%= render 'comments/form' %> 
	</div>
</div> 

<div class = "panel panel-primary"> 
	<div class = "panel-heading"> 
		<h4> Comments </h4> 
	</div> 
	<% @blog_post.comments.each do |comment| %> 
	<div class="panel-body"> 
		<p><strong><%= link_to comment.user.username, user_posts_path(id: comment.user.id) %></strong> <span class="posted-at">said <%= time_ago_in_words(comment.updated_at) %> ago:</span></p>  
		<p><%= comment.comment_entry %></p> 
	</div>
	<% end %> 
</div> 
